@model Donation.Models.DonationSummary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonationSummary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonorsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonorsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationCashValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationCashValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
